lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.njsproj
*.v11.suo
*.sln

pids
logs
results

npm-debug.log
node_modules
share
include
bin


#Ignore user specific config files
conf/*.json
irc-modules/test.js
irc-modules/test2.js
