{
    "server": "RizonBNC.eu.rizon.net",
    "port": 1234,
    "hashKey": "",
    "nick": "mybot",
    "userName": "myircusername",
    "password": "myircpassword",
    "BNC": true,
    "allowUnidentified": false,
    "logLevel": "info",
    "commandChar": "!",
    "operators": [],
    "pOperators": [
        "me"
    ],
    "channels": [
        {
            "name": "#my-channel",
            "mode": "persistent"
        }
    ],
    "modulePort": 20000
}
