[
    {
        "server": "RizonBNC.eu.rizon.net",
        "port": 1234,
        "nick": "Severin",
        "name": "Severin",
        "pass": "Severin:3P82z9",
        "BNC": true,
        "allowUnidentified": false,
        "logLevel": "info",
        "commandChar": "!",
        "operators": [],
        "pOperators": [
            "Orillion"
        ],
        "channels": [
            {
                "name": "#doki-development",
                "mode": "operator",
                "modules": []
            },
            {
                "name": "#project-precure",
                "mode": "persistent",
                "modules": []
            },
            {
                "name": "#doki-dev-2",
                "mode": "persistent",
                "modules": []
            },
            {
                "name": "#doki-nihongo",
                "mode": "persistent",
                "modules": []
            },
            {
                "name": "#doki",
                "mode": "persistent",
                "modules": []
            }
        ],
        "modulePort": 20000
    }
]