{
    "#doki": {
        "current": "TheHolyOne",
        "time": "2014-02-15T16:34:46.964Z",
        "record": {
            "nick": "Severin",
            "diff": 1138059,
            "time": " 18 minutes 58 seconds",
            "timer": "2014-02-15T16:17:56.778Z"
        },
        "timers": {
            "Orillion": "2014-02-15T16:17:36.483Z",
            "kb_z": "2014-02-15T16:17:56.778Z",
            "THO": "2014-02-15T16:33:25.840Z",
            "TheHolyOne": "2014-02-15T16:34:46.964Z"
        }
    },
    "#doki-development": {
        "current": "sakurahime",
        "time": "2014-02-15T16:34:56.435Z",
        "record": {
            "nick": "sakurahime",
            "diff": 1084059,
            "time": " 18 minutes 4 seconds",
            "timer": "2014-02-15T16:24:43.405Z"
        },
        "timers": {
            "Orillion": "2014-02-15T16:16:49.478Z",
            "Severin": "2014-02-15T16:16:52.376Z",
            "sakurahime": "2014-02-15T16:34:56.435Z"
        }
    },
    "#project-precure": {
        "current": "Orillion",
        "time": "2014-02-15T16:18:50.319Z",
        "record": {
            "nick": "Orillion",
            "diff": 0,
            "time": " 0 seconds",
            "timer": "2014-02-15T16:28:27.352Z"
        },
        "timers": {}
    },
    "#doki-dev-2": {
        "current": "Orillion",
        "time": "2014-02-15T16:26:31.335Z",
        "record": {
            "nick": "Orillion",
            "diff": 0,
            "time": " 0 seconds",
            "timer": "2014-02-15T16:27:37.678Z"
        },
        "timers": {}
    }
}